<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
    <link rel="stylesheet" href="/global.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>  
  </head>

    <%= yield %>

</html>