<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Select the rating to be deleted.</h2> 
  <form action="/rating_deleted">
    <table style="width:50%">
      <tr>
        <th>User</th>
        <th>Beer</th>
        <th>Rating</th>
      </tr>
      <tr>
    <% @ratings.each do |rating| %>
        <td><input type="radio" name="id" value="<%= rating['id'].to_i %>"><%= rating['user'] %></td>
        <td><%= rating['beer'] %></td>
        <td><%= rating['rating'] %></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
  <a href="/home">Main Menu</a>
<body>
</html>

