<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2><%= @user.name %>'s History</h2>
  <form action="/ratings/list_user_history">
    <table style="width:25%">
      <tr>
        <th>Beer</th>
        <th>Rating</th>
      </tr>
      <tr>
        <% @user_history.each do |history| %>
        <td><%= history['beer'] %></td>
        <td><%= history['rating'] %></td>
      </tr>
        <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
  <a href="/home">Main Menu</a>
</body>
<html>