<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <p><center>Rating has been successfully removed the database.</center></p>
  <center><a href="/home">Main Menu</a></center>
</body>
</html>