<h2>Ratings</h2>
<h3>
  <a href="#" class="menu-icon">☰</a>
</h3>
<ul>
  <li><a href="/ratings/add_beer_rating">Add rating</a></li>
  <li><a href="/ratings/user_beer_history">Check user's ratings</a></li>
  <li><a href="/ratings/delete_rating">Delete Rating</li>
  <li> <a href="/home">Main Menu</a></li>
</ul>
