<h2>Ratings</h2>
<h3>
  <a href="#" onclick="overlay()" class="menu_icon">☰</a>
</h3>
<ul class="three">
  <li><a href="/ratings/add_beer_rating">Add rating</a></li>
  <li><a href="/ratings/user_beer_history">Check user's ratings</a></li>
  <li><a href="/ratings/delete_rating">Delete Rating</li>
</ul>
