<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Please select the user to check history of beer ratings.</h2>
  <form action="/ratings/list_user_history">
    <p>User</p>
    <p><select name="user_id" value="">
      <option >--------</option>
      <% User.all.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select></p>
    <input type="submit">
  </form>
  <a href="/home">Main Menu</a>
</body>
<html>