<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <% if @error %>
    <h2>Beer type has not been removed from the database.</h2>
    <h2>Please reassign beers to a new category, then try again.</h2>
  <% else%>
    <h2>Beer type has been successfully removed the database.</h2>
  <% end %>
  <a href="/home">Main Menu</a>
</body>
</html>