<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Delete Beer Type</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <% if @error %>
  <p>Cannot delete beer type that is currently assigned to a beer.</p>
  <% end %>
  <h4>Select the beer type to be deleted.</h4> 
  <form action="/beer_type_deleted">
    <table>
      <tr>
        <th>Beer Type</th>
      </tr>
      <tr>
    <% BeerType.all.each do |type| %>
        <td><input type="radio" name="id" value="<%= type.id %>"><%= type.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
<body>
</html>