<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>List Beer Types</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <h4>If you would like to update the table, please select the beer type.</h4> 
  <form action="/beer_types/update_beer_type">
    <table>
      <tr>
        <th>Beer Type</th>
      </tr>
      <tr>
    <% BeerType.all.each do |type| %>
        <td><input type="radio" name="id" value="<%= type.id %>"><%= type.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
<body>
</html>