<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
    <h2>Beer Types</h2>
    <ul>
      <li><a href="/beer_types/add_beer_type">Add beer type</a></li>
      <li><a href="/beer_types/list_beer_types">List beer types</a></li>
      <li><a href="/beer_types/delete_beer_type">Delete beer type</a></li>
      <li><a href="/home">Main Menu</a></li>
    </ul>
  </body>
</html>