<h2>Beer Types</h2>
<h3>
  <a href="#" onclick="overlay()" class="menu_icon">☰</a></h3>
<ul>
  <li><a href="/beer_types/add_beer_type">Add beer type</a></li>
  <li><a href="/beer_types/list_beer_types">List beer types</a></li>
  <li><a href="/beer_types/delete_beer_type">Delete beer type</a></li>
</ul>
