html{
  box-sizing: border_box;
  background-color: rgb(247, 246, 246);
  font-family: 'Ubuntu Condensed', sans-serif;
  overflow-x: hidden;
}

*, *:before, *:after{
  box-sizing: inherit;
}

/* CSS style for Beer Inventory Archive header */
h1{
  margin: 0;
  font-size: 40px;
  line-height: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(162, 119, 176);
}

h2{
  margin: 0;
  font-size: 40px;
  line-height: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(162, 119, 176);
}

/* CSS style for hamburger menu icon */
h3{
  z-index: 4;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 15px;
  color: white;
  font-size: 40px;
}

body{
  text-align: center;
  min-width: 370px;
  margin: 0;
}


/* CSS style for menu list */
ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li{
  border: 1px solid black;
  line-height: 40px;
  cursor: pointer;
}

a:link{
  text-decoration: none;
}

a:hover{
  color: white;
}

li:hover{
  background-color: grey;
}

/* CSS style for tables */
table{
  border-collapse: collapse;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
}

table, th, td {
   border: 2px solid black;
}

/* CSS style for hidden hamburger menu*/
#responsive_menu{
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 2px;
  z-index: 4;
}

#responsive_menu div{
  width: 200px;
}

#responsive_menu div p{
  font-size: 16pt;
  margin-right: 20px;
  margin-top: 10px;
}

#responsive_menu div ul{
  background-color: rgb(171, 169, 169);
}


div p a{
  z-index: 4;
  margin: 0;
  position: absolute;
  right: 8px;
  top: -35px;
  color: white;
  font-size: 40px;
  text-decoration: none;
}

/* Media queries for floats */
@media (min-width: 500px){
  li{
    width: 20%;
    min-width: 100px;
    float:left;
  }
  a{
    display: block;
  }
}