<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
    <h2><center>Menu</center></h2>
    <ul style="list-style-type:none"><center>
      <h4>Beers</h4>
      <li><a href="/beers/add_beer">Add beer</a></li>
      <li><a href="/beers/beer_chart">Beer chart</a></li>
      <li><a href="/beers/list_beers">Update beer</a></li>
      <li><a href="/beers/delete_beer">Delete beer</a></li>
      <br>
      <h4>Beer Types</h4>
      <li><a href="/beer_types/add_beer_type">Add beer type</a></li>
      <li><a href="/beer_types/list_beer_types">List beer types</a></li>
      <li><a href="/beer_types/delete_beer_type">Delete beer type</a></li>
      <br>
      <h4>Breweries</h4>
      <li><a href="/breweries/add_brewery">Add brewery</a></li>
      <li><a href="/breweries/list_breweries">List breweries</a></li>
      <li><a href="/breweries/delete_brewery">Delete brewery</a></li>
      <br>
      <h4>Users</h4>
      <li><a href="/users/add_user">Add user</a></li>
      <li><a href="/users/list_users">List users</a></li>
      <li><a href="/users/delete_user">Delete user</a></li>
      <br>
      <h4>Ratings</h4>
      <li><a href="/ratings/add_beer_rating">Add rating</a></li>
      <li><a href="/ratings/user_beer_history">Check user's ratings</a></li>
    </center></ul>
  </body>
</html>