<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
    <h2>Menu</h2>
    <ul>
      <li><a href="/beers/sub_menu_beer">Beers</a></li>
      <li><a href="/beer_types/sub_menu_beer_type">Beer Types</a></li>
      <li><a href="/breweries/sub_menu_brewery">Breweries</a></li>
      <li><a href="/users/sub_menu_user">Users</a></li>
      <li><a href="/ratings/sub_menu_rating">Ratings</a></li>
    </ul>
  </body>
</html>