<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
    <h2><center>Menu</h2></center>
    <ul style="list-style-type:none"><center>
      <li><a href="/beer_types/add_beer_type">Add beer type</li>
      <li><a href="/beer_types/list_beer_types">List beer types</li>
      <li><a href="beer_types/delete_beer_type">Delete beer type</li>
    </center></ul>
  </body>
</html>