<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
    <h2>User Sign Up</h2>
    <h3>
      <a href="#" onclick="overlay()" class="menu_icon">☰</a>
    </h3>
    <% if @error1 %>
    <p>User was not saved. Users may only be added once.</p>
    <% end %>
    <% if @error2 %>
    <p>Please enter the user information in the fields.</p>
    <% end %>
    <h4>Please enter the information of the new user.</h4>
    <form action="/save_user">
      <p>Email (this will be your username)</p>
      <input type="text" placeholder="User email" name="email">
      <p>Name</p>
      <input type="text" placeholder="User name" name="name">
      <p>Password</p>
      <input type="text" placeholder="Password" name="password">
      <p><input type="submit"></p>
    </form>
  </body>
<html>