<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <p><center>User has been successfully added to the database.</center></p>
  <center><a href="/home">Main Menu</a></center>
</body>
</html>