<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Delete User</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <h4>Select the user to be deleted.</h4> 
  <form action="/user_deleted">
    <table style="width:25%">
      <tr>
        <th>User</th>
      </tr>
      <tr>
    <% User.all.each do |user| %>
        <td><input type="radio" name="id" value="<%= user.id %>"><%= user.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
<body>
</html>