<h2>Users</h2>
<h3>
  <a href="#" class="menu-icon">☰</a>
</h3>
<ul>
  <li><a href="/users/add_user">Add user</a></li>
  <li><a href="/users/list_users">List users</a></li>
  <li><a href="/users/delete_user">Delete user</a></li>
  <li><a href="/home">Main Menu</a></li>
</ul>
