<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
    <h2>Users</h2>
    <ul>
      <li><a href="/users/add_user">Add user</a></li>
      <li><a href="/users/list_users">List users</a></li>
      <li><a href="/users/delete_user">Delete user</a></li>
      <li><a href="/home">Main Menu</a></li>
    </ul>
  </body>
</html>