<h2>Users</h2>
<h3>
  <a href="#" onclick="overlay()" class="menu_icon">☰</a>
</h3>
<ul class="four">
  <li><a href="/users/add_user">Add user</a></li>
  <li><a href="/users/list_users">List users</a></li>
  <li><a href="/users/delete_user">Delete user</a></li>
  <li><a href="/users/user_login">User login</a></li>
</ul>
