<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Delete User</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <% if @error %>
    <p>User has not been removed from the database.</p>
  <% else%>
    <p>User has been successfully removed the database.</p>
  <% end %>
</body>
</html>