<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <% if @error %>
    <p><center>User has not been removed from the database.</center></p>
  <% else%>
    <p><center>User has been successfully removed the database.</center></p>
  <% end %>
  <center><a href="/home">Main Menu</a></center>
</body>
</html>