<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Brewery Added</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <h2>Brewery has been successfully added to the database.</h2>
</body>
</html>