<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <% if @error %>
  <p>Cannot delete brewery that is currently assigned to a beer.</p>
  <% end %>
  <h2>Select the brewery to be deleted.</h2> 
  <form action="/brewery_deleted">
    <table style="width:25%">
      <tr>
        <th>Brewery</th>
      </tr>
      <tr>
    <% Brewery.all.each do |brewery| %>
        <td><input type="radio" name="id" value="<%= brewery.id %>"><%= brewery.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
  <a href="/home">Main Menu</a>
<body>
</html>