<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>If you would like to update the table, please select the brewery.</h2> 
  <form action="/breweries/update_brewery">
    <table style="width:25%">
      <tr>
        <th>Breweries</th>
      </tr>
      <tr>
    <% Brewery.all.each do |brewery| %>
        <td><input type="radio" name="id" value="<%= brewery.id %>"><%= brewery.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
  <a href="/home">Main Menu</a>
<body>
</html>