<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>List Breweries</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <h4>If you would like to update the table, please select the brewery.</h4> 
  <form action="/breweries/update_brewery">
    <table>
      <tr>
        <th>Breweries</th>
      </tr>
      <tr>
    <% Brewery.all.each do |brewery| %>
        <td><input type="radio" name="id" value="<%= brewery.id %>"><%= brewery.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
<body>
</html>