<h2>Breweries</h2>
<h3>
  <a href="#" class="menu-icon">☰</a>
</h3>
<ul>
  <li><a href="/breweries/add_brewery">Add brewery</a></li>
  <li><a href="/breweries/list_breweries">List breweries</a></li>
  <li><a href="/breweries/delete_brewery">Delete brewery</a></li>
  <li><a href="/home">Main Menu</a></li>
</ul>
