<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
    <h2>Breweries</h2>
    <ul>
      <li><a href="/breweries/add_brewery">Add brewery</a></li>
      <li><a href="/breweries/list_breweries">List breweries</a></li>
      <li><a href="/breweries/delete_brewery">Delete brewery</a></li>
    </ul>
    <a href="/home">Main Menu</a>
  </body>
</html>