<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Please change the name and submit.</h2>
  <form action="/update_brewery/save">
    <input type="hidden" name="id" value="<%= @brewery.id %>">
    <p><input type="text" placeholder="Beer Type" name="name" value="<%= @brewery.name %>"></p>
    <p><input type="submit"></p>
    <form>
  <a href="/home">Main Menu</a>
</body>
</html>
