<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Beer has been successfully added to the database.</h2>
  <a href="/beers/add_beer">Add another beer</a>
  <a href="/home">Main Menu</a>
</body>
</html>