<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Beer Added</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <h4>Beer has been successfully added to the database.</h4>
  <a href="/beers/add_beer">Add another beer</a>
  <a href="/home">Main Menu</a>
</body>
</html>