<!DOCTYPE html>
<html>
  <head>
    <title>Beer Rating Archive</title>
  </head>
  <body>
  <h2>Beer Updated</h2>
    <h3>
      <a href="#" onclick="overlay()" class="menu_icon">☰</a>
    </h3>
    <h4>Beer has been successfully updated in the database.</h4>
  <</body>
</html>