<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Beer Deleted</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <% if @error %>
    <h4>Beer has not been removed from the database.</h4>
    <h4>Please remove any user ratings of this beer, then try again.</h4>
  <% else%>
  
    <h4>Beer has been successfully removed the database.</h4>
  <% end %>
</body>
</html>