<!DOCTYPE html>
<html>
<head>
  <title>Beer Rating Archive</title>
</head>
<body>
  <h2>Beer Chart</h2>
  <h3>
    <a href="#" onclick="overlay()" class="menu_icon">☰</a>
  </h3>
  <table>
    <tr>
      <th>Beer</th>
      <th>ABV(%)</th>
      <th>Style</th>
      <th>Brewery</th>
    </tr>
    <% @beers.each do |beer| %>
    <tr>
      <td><%= beer['beer'] %></td>
      <td><%= beer['abv'] %>
      <td><%= beer['style'] %></td>
      <td><%= beer['brewery'] %></td>
    </tr>
  <% end %>
  </table>
  <br>
</body>
</html>