<h2>Beers</h2>
<h3>
  <a href="#" onclick="overlay()" class="menu_icon">☰</a>
</h3>
<ul>
  <li><a href="/beers/add_beer">Add beer</a></li>
  <li><a href="/beers/beer_chart">Beer chart</a></li>
  <li><a href="/beers/list_beers">Update beer</a></li>
  <li><a href="/beers/delete_beer">Delete beer</a></li>
</ul>
